.competition {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 66px;

  @media (min-width: $vp-768) {
    padding-top: 107px;
  }

  @media (min-width: $vp-1200) {
    padding-top: 120px;
  }
}

.competition__wrapper {
  background-color: $torch-red;
  padding-bottom: 49px;

  @media (min-width: $vp-768) {
    padding: 12px 44px;
  }

  @media (min-width: $vp-1200) {
    padding: 41px 78px;
  }
}

.competition__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-768) {
    flex-direction: row;
  }

  @media (min-width: $vp-1200) {
    flex-direction: row;
  }
}

.competition__containter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  margin-top: 46px;

  @media (min-width: $vp-768) {
    justify-content: start;
    margin-top: 35px;
  }

  @media (min-width: $vp-1200) {
    gap: 60px;
    padding-bottom: 12px;
  }
}

.competition__title {
  padding: 0;
  margin: 0;
  margin-left: 4px;
  margin-top: -11px;
  line-height: 96%;
  font-size: 48px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  font-family: "Alumni Sans", "Arial", sans-serif;
  color: $color-default-white;

  @media (min-width: $vp-768) {
    margin-top: -6px;
    margin-left: 9px;
  }

  @media (min-width: $vp-1200) {
    margin-left: 12px;
    margin-top: -11px;
    font-size: 82px;
    letter-spacing: 2.46px;
  }
}

.competition__subtitle {
  padding: 0;
  margin: 0;
  color: $color-default-white;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;

  &--text {
    margin-bottom: 28px;
    margin-left: 43px;
  }

  @media (min-width: $vp-768) {
    font-size: 12px;

    &--text {
      margin-left: 0;
    }
  }

  @media (min-width: $vp-1200) {
    font-size: 18px;

    &--text {
      margin-bottom: 46px;
    }
  }
}

.competition__time {
  padding: 0;
  margin: 0;
  color: $color-default-white;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;
  }

  @media (min-width: $vp-768) {
    font-size: 24px;
  }

  @media (min-width: $vp-1200) {
    font-size: 39px;

    &::after {
      top: 7px;
    }
  }
}

.competition__time-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 73%;
    height: 1px;
    background-color: $color-default-white;
  }

  @media (min-width: $vp-768) {
    gap: 3px;
  }

  @media (min-width: $vp-1200) {
    gap: 7px;
    margin-bottom: 12px;

    &::after {
      top: 7px;
    }
  }
}

.competition__text {
  padding: 0;
  margin: 0;
  color: $color-default-white;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;

  @media (min-width: $vp-1200) {
    font-size: 14px;
  }
}

.competition__link {
  margin: 0 42px;
  display: block;
  text-align: center;
  padding: 13px 10px;
  color: $color-default-white;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  border: 2px solid $color-default-white;
  text-transform: uppercase;

  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 0.3;
  }

  &:active {
    color: $gym-color;
  }

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 13px 48px;
    font-size: 10px;
    letter-spacing: 0.5px;
  }

  @media (min-width: $vp-1200) {
    padding: 25px 53px;
    font-size: 12px;
  }
}

.competition__image {
  padding: 0;
  margin: 0;

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
