.features {
  background: $ghost-white;
  padding: 62px 0;

  @media (min-width: $vp-768) {
    padding: 86px 45px 93px;
  }

  @media (min-width: $vp-1200) {
    padding: 109px 182px;
  }
}

.features__title {
  margin: 0;
  padding: 0;
  color: $price;
  font-family: 'Alumni Sans', 'Arial', sans-serif;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.96px;
  margin-left: -21px;
  padding-bottom: 45px;

  @media (min-width: $vp-768) {
    font-size: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 45px;
    margin-left: -21px;
  }

  @media (min-width: $vp-1200) {
    letter-spacing: 1.62px;
    font-size: 54px;
    padding-bottom: 48px;
    padding-left: 21px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 40px;

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 43px 32px;
  }

  @media (min-width: $vp-1200) {
    grid-template-columns: 1fr 240px 1fr;
    gap: 150px 60px;
  }
}

.features__item {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  align-items: center;
  gap: 5px;

  @media (min-width: $vp-768) {
    flex-direction: row;
    gap: 30px;
    align-items: start;
  }

  @media (min-width: $vp-1200) {
    &:nth-of-type(1)::after,
    &:nth-of-type(4)::after {
      content: '';
      position: absolute;
      bottom: -75px;
      left: -19px;
      width: 106%;
      height: 2px;
      background: rgba(209, 10, 66, 0.2);
    }

    &:nth-of-type(4)::after {
      left: 0;
    }
  }
}

.features__number {
  margin: 0;
  padding: 0;
  line-height: 90%;
  font-size: 58px;
  font-weight: 700;
  line-height: 90%;
  background: $red-blue-right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: $vp-768) {
    font-size: 58px;
    font-weight: 700;
    line-height: 90%;
  }

  @media (min-width: $vp-1200) {
    font-size: 71px;
    font-weight: 700;
  }
}

.features__number-center {
  margin: 0;
  padding: 0;
  line-height: 90%;
  font-weight: 700;
  background: $color-default-white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 74px;
  font-weight: 700;
  text-align: center;
  color: $color-default-white;

  @media (min-width: $vp-768) {
    text-align: center;
    line-height: 113%;
    padding-left: 36px;
  }

  @media (min-width: $vp-1200) {
    text-align: center;
    line-height: 124%;
    padding-left: 27px;
  }
}

.features__small-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: $percian-blue;
  font-weight: 400;
  line-height: 167%;
  text-align: center;

  @media (min-width: $vp-768) {
    text-align: start;
  }

  @media (min-width: $vp-1200) {
  }
}

.features__subtitle {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: $gym-color;
  text-align: center;

  @media (min-width: $vp-768) {
    text-align: start;
  }

  @media (min-width: $vp-1200) {
    font-size: 22px;
    line-height: 170%;
  }
}

.features__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $gym-color;
  font-weight: 300;
  line-height: 140%;
  text-align: center;
  padding: 0 46px;

  @media (min-width: $vp-768) {
    padding: 0;
    text-align: start;
    padding-right: 16px;
  }

  @media (min-width: $vp-1200) {
    padding: 0;
  }
}

.features__text-center {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  padding: 0 12px;
  color: $color-default-white;
  text-align: center;

  @media (min-width: $vp-768) {
    text-align: center;
  }
}

.features__subtitle-center {
  color: $color-default-white;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 11px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;

  @media (min-width: $vp-768) {
    text-align: center;
    color: $color-default-white;
    padding-bottom: 17px;
  }

  @media (min-width: $vp-1200) {
    text-align: center;
    color: $color-default-white;
    padding-bottom: 30px;
    letter-spacing: 2px;
    font-size: 22px;
    line-height: 170%;
  }
}

.features__item--center {
  flex-direction: column;
  background: $resolution-blue;
  gap: 0;
  grid-row-start: 3;
  padding: 50px 30px;
  padding-top: 40px;

  @media (min-width: $vp-768) {
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 442px;
    height: 239px;
    padding: 23px 125px;
  }

  @media (min-width: $vp-1200) {
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 240px;
    height: 307px;
    margin-top: 8px;
    padding: 41px 34px;
  }
}

.features__item--places {
  grid-row-start: 4;

  @media (min-width: $vp-768) {
    grid-row-start: 3;
    grid-column-start: 1;
  }

  @media (min-width: $vp-1200) {
    grid-row-start: 2;
  }
}

.features__item--cars {
  grid-row-start: 2;

  @media (min-width: $vp-768) {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  @media (min-width: $vp-1200) {
    grid-column-start: 3;
  }
}

.features__item--year {
  grid-row-start: 5;

  @media (min-width: $vp-768) {
    grid-row-start: 3;
    grid-column-start: 2;
  }

  @media (min-width: $vp-1200) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

.features__text--right {
  @media (min-width: $vp-768) {
    margin-right: -8px;
  }
}
