.footer {
  background-color: $footer-color;
  padding-top: 50px;
  padding-bottom: 52px;

  @media (min-width: $vp-768) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer__wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    margin: 44px 0 32px;
  }
}

.footer__container {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    gap: 62px;
  }

  @media (min-width: $vp-1200) {
    gap: 277px;
  }
}

.footer__logo {
  display: inline-block;
  padding-bottom: 14px;

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.footer__logo-img {
  @media (min-width: $vp-768) {
    min-width: 82px;
    height: 17px;
  }

  @media (min-width: $vp-1200) {
    margin-top: -8px;
    min-width: 88px;
    height: 44px;
  }
}

.footer__nav {
  display: flex;
  gap: 71px;

  @media (min-width: $vp-768) {
    gap: 30px;
  }

  @media (min-width: $vp-1200) {
    gap: 40px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style-type: none;

  &:last-of-type {
    margin-top: -38px;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

    &:last-of-type {
      margin-top: 0;
    }
  }

  @media (min-width: $vp-1200) {
    gap: 40px;
  }
}

.footer__item {
  & a {
    display: inline-block;
    color: $color-default-white;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    position: relative;

    @media (min-width: $vp-768) {
      font-size: 14px;
    }

    &:hover {
      padding-bottom: 5px;
      border-bottom: 1px solid $color-default-white;
    }

    &:focus-visible {
      outline-offset: 10px;
      outline: 1px solid $color-default-white;
    }

    &:disabled {
      opacity: 0.4;
    }
  }
}

.footer__social {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style-type: none;
  display: flex;
  gap: 11px;

  @media (min-width: $vp-768) {
    padding-top: 0;
    align-self: center;
    justify-content: space-between;
  }
}
