.free-class {
  background-color: $gym-color;
  color: $color-default-white;

  padding: 70px 15px;

  @media (min-width: $vp-768) {
    padding: 61px 160px 69px 132px;
  }

  @media (min-width: $vp-1200) {
    padding: 56px 170px 62px 103px;
  }

  h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 43px;
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 0.96px;

    @media (min-width: $vp-768) {
      padding-bottom: 33px;
      font-size: 42px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.26px;
    }

    @media (min-width: $vp-1200) {
      padding-bottom: 18px;
      font-size: 54px;
      line-height: 156%;
      letter-spacing: 2.35px;
    }
  }
}

.free-class__form {
  width: 100%;

  @media (min-width: $vp-768) {
    max-width: 480px;
  }

  @media (min-width: $vp-1200) {
    max-width: 410px;
  }
}

.free-class__input-wrapper {
  margin: 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 31px;

  @media (min-width: $vp-768) {
    margin: 0 0 30px;
    gap: 50px;
    flex-direction: row;
  }

  @media (min-width: $vp-1200) {
    gap: 25px;
  }
}

.free-class__label {
  width: 100%;

  input {
    padding: 0 0 6px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid $dark-grey;
    background-color: inherit;
    color: $color-default-white;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $color-default-white;
    }

    &:hover {
      border-bottom: 1px solid $color-default-white;
    }

    &:focus-visible,
    &:active {
      border: none;
      outline: 1px solid var(--light, #ffffff);
      outline-offset: 5px;

      &::placeholder {
        color: $color-default-white;
      }
    }

    &:disabled {
      opacity: 0.3;
    }

    &--error {
      border-color: $torch-red;
    }
  }
}

.free-class__error-text {
  display: none;
}

.free-class__input--error ~ .free-class__error-text {
  display: block;
  color: $torch-red;
}

.free-class__btn {
  width: 100%;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;
  border: 3px solid $color-default-white;
  background: transparent;
  user-select: none;

  &:hover,
  &:active,
  &:focus {
    border: 3px solid $torch-red;
    color: $torch-red;
  }

  &:active {
    border: 3px solid $torch-red;
    color: $color-default-white;
  }

  &:focus-visible {
    outline: none;
  }
}
