.header {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header-nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $vp-768) {
    padding-top: 40px;
  }
}

.header-nav__logo {
  display: block;
}

.header-nav__logo-img {
  @media (min-width: $vp-768) {
    min-width: 82px;
    height: 17px;
  }

  @media (min-width: $vp-1366) {
    margin-top: -10px;
    min-width: 122px;
    height: 44px;
  }
}

.header-nav__phone {
  margin: 0;
  padding: 0;
  color: $color-default-white;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.78px;

  @media (min-width: $vp-768) {
    margin-top: 0;
    font-size: 18px;
  }

  @media (min-width: $vp-1366) {
    margin-top: -6px;
    font-size: 20px;
  }
}
