.header {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header-nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $vp-768) {
    padding-top: 40px;
  }
}

.header-nav__logo {
  display: block;

  &:hover {
    opacity: 0.3;
  }
}

.header-nav__logo-img {
  @media (min-width: $vp-768) {
    min-width: 82px;
    height: 17px;
  }

  @media (min-width: $vp-1200) {
    margin-top: -10px;
    min-width: 122px;
    height: 44px;
  }
}

.header-nav__phone {
  display: block;
  margin: 0;
  padding: 0;
  color: $color-default-white;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: -2px;
  width: 155px;

  @media (min-width: $vp-768) {
    margin-top: -4px;
    font-size: 24px;
    letter-spacing: 0.5px;
  }

  @media (min-width: $vp-1200) {
    margin-top: -10px;
    font-size: 24px;
    letter-spacing: 1.48px;
  }
}
