.promo {
  padding-top: 62px;
  padding-bottom: 70px;

  @media (min-width: $vp-768) {
    padding-top: 92px;
    padding-bottom: 99px;
  }

  @media (min-width: $vp-1200) {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  h2 {
    margin: 0;
    padding: 0;
    color: $gym-color;
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-size: 32px;
    letter-spacing: 0.96px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding-bottom: 42px;

    @media (min-width: $vp-768) {
      font-size: 42px;
      letter-spacing: 1.26px;
      padding-right: 9px;
      padding-bottom: 40px;
    }

    @media (min-width: $vp-1200) {
      font-size: 54px;
      letter-spacing: 1.62px;
      padding-bottom: 34px;
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 33px;
  justify-content: center;

  @media (min-width: $vp-768) {
    gap: 30px;
  }

  @media (min-width: $vp-1200) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

.promo__container {
  display: grid;

  @media (min-width: $vp-768) {
    grid-template-columns: 279px 1fr;
  }

  @media (min-width: $vp-1200) {
    grid-template-columns: 1fr 1fr;
  }
}

.promo__red-wrapper {
  color: $color-default-white;
  background: $torch-red;
  padding: 45px;

  h3 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 80%;
    text-align: center;

    @media (min-width: $vp-768) {
      text-align: start;
    }
  }

  h4 {
    margin: 0;
    padding: 0;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 121%;
    padding-bottom: 6px;
    text-align: center;

    @media (min-width: $vp-768) {
      text-align: start;
      padding-bottom: 10px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 21px;
    text-align: center;

    @media (min-width: $vp-768) {
      text-align: start;
      padding-bottom: 181px;
    }
  }
}

.promo__red-link {
  padding: 0;
  display: inline-block;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $color-default-white;
  }

  @media (min-width: $vp-768) {
    left: 0;
    transform: translate(0, 0);
  }

  &:hover {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 1px solid $color-default-white;
    outline-offset: 10px;
  }
}

.promo__photo {
  display: block;

  & img {
    width: 100%;
  }

  @media (min-width: $vp-768) {
    & img {
      height: 100%;
    }
  }
}

.promo__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 32px;

  @media (min-width: $vp-768) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: $vp-1200) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.promo__item {
  margin: 0;
  padding: 30px 27px 35px;
  border: 7px solid;
  border-image: linear-gradient(to right bottom, #d10a42, #00359f);
  border-image-slice: 1;
  color: $resolution-blue;

  @media (min-width: $vp-768) {
    padding-top: 19px;
    padding-bottom: 26px;

    &:first-of-type {
      padding-right: 56px;
    }
  }

  @media (min-width: $vp-1200) {
    padding-right: 27px;
  }

  h4 {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;

    @media (min-width: $vp-768) {
      text-align: start;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 24px;
    text-align: center;

    @media (min-width: $vp-768) {
      padding-bottom: 44px;
      text-align: start;
    }

    @media (min-width: $vp-1200) {
      padding-bottom: 68px;
    }
  }
}

.promo__block-link {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $resolution-blue;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $resolution-blue;
  }

  @media (min-width: $vp-768) {
    left: 0;
    transform: translate(0, 0);

    &--last {
      margin-top: 28px;
    }
  }

  @media (min-width: $vp-1200) {
    &--last {
      margin-top: 0;
    }
  }

  &:hover {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 1px solid $resolution-blue;
    outline-offset: 10px;
  }
}
