.swiper {
  height: 100%;
}

.swiper-wrapper {
}

.swiper-slide {
  width: 290px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover .trainers__wrapper-info {
    opacity: 1;
  }

  &:hover .trainers__name--img {
    opacity: 0;
  }
}

.swiper-slide img {
  display: block;
  width: 226px;
  height: 274px;
  object-fit: cover;

  @media (min-width: $vp-768) {
    width: 260px;
    height: 294px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  & svg {
    fill: none;
  }

  &::after {
    display: none;
  }
}
