.trainers {
  position: relative;
  padding: 0 47px 70px;

  @media (min-width: $vp-768) {
    padding: 34px 103px 105px;
  }

  @media (min-width: $vp-1200) {
    padding-top: 41px;
  }
}

.trainers__title {
  margin: 0;
  padding: 0;
  color: $price;
  font-family: 'Alumni Sans', 'Arial', sans-serif;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  font-size: 32px;
  letter-spacing: 0.96px;
  padding-bottom: 42px;

  @media (min-width: $vp-768) {
    font-size: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 31px;
  }

  @media (min-width: $vp-1200) {
    text-align: start;
    letter-spacing: 1.62px;
    font-size: 54px;
    padding-bottom: 48px;
  }
}

.trainers__slide {
  width: 290px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover .trainers__wrapper-info {
    opacity: 1;
  }

  &:hover .trainers__name--img {
    opacity: 0;
  }
}

.trainers__slide img {
  display: block;
  width: 226px;
  height: 274px;
  object-fit: cover;

  @media (min-width: $vp-768) {
    width: 260px;
    height: 294px;
  }
}

.trainers__image {
  display: block;
  width: 226px;
  height: 274px;

  @media (min-width: $vp-768) {
    width: 260px;
    height: 294px;
  }
}

.trainers__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  color: $color-default-white;
  margin: 0;
  padding: 0;

  &--img {
    position: absolute;
    bottom: 22px;
    left: 38px;
  }

  @media (min-width: $vp-768) {
    &--img {
      left: 64px;
    }
  }
}

.trainers__wrapper-info {
  display: block;
  position: absolute;
  padding: 57px;
  padding-top: 51px;
  padding-right: 40px;
  padding-left: 46px;
  top: 0;
  left: 0;
  background-color: rgba(16, 38, 84, 0.89);
  width: 226px;
  height: 274px;
  color: $color-default-white;
  opacity: 0;

  @media (min-width: $vp-768) {
    width: 260px;
    height: 294px;
  }
}

.trainers__text {
  margin: 0;
  padding: 0;
  color: $spindle;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.trainers__list {
  padding: 0;
  margin: 0;
  text-align: start;
  padding-top: 30px;
  padding-left: 25px;
}

.trainers__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  &:not(:last-of-type) {
    padding-bottom: 13px;
  }
}

.trainers__button {
  position: absolute;
  top: 51.5%;
  width: 18px;
  height: 32px;

  & svg {
    fill: none;
  }

  @media (min-width: $vp-768) {
    top: 47.5%;
  }

  @media (min-width: $vp-1200) {
    top: 51.5%;
  }
}

.trainer__button-prev {
  left: 15px;

  @media (min-width: $vp-768) {
    left: 46px;
  }
}

.trainer__button-next {
  right: 15px;

  @media (min-width: $vp-768) {
    right: 46px;
  }
}
